# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/
venv/

# IDE
.idea/
.vscode/

# Environment Variables
.env

# Audio files
*.mp3

# Temporary files
*.log
*.tmp

# Python test cache
.pytest_cache/

# Windows
Thumbs.db

# macOS
.DS_Store